In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("nppes_crohns_file.csv")

In [3]:
import re

In [4]:
df.columns

Index(['Name_crohnsandcolitis', 'Fullname_nppes', 'NPI_nppes',
       'Fuzzy matching percentage_Name', 'City_crohnsandcolitis',
       'State_crohnsandcolitis', 'PostalCode_crohnsandcolitis',
       'matched_postalcode', 'postalcode_match_score', '5dig_postalcode',
       ...
       'Healthcare Provider Taxonomy Group_7',
       'Healthcare Provider Taxonomy Group_8',
       'Healthcare Provider Taxonomy Group_9',
       'Healthcare Provider Taxonomy Group_10',
       'Healthcare Provider Taxonomy Group_11',
       'Healthcare Provider Taxonomy Group_12',
       'Healthcare Provider Taxonomy Group_13',
       'Healthcare Provider Taxonomy Group_14',
       'Healthcare Provider Taxonomy Group_15', 'Certification Date'],
      dtype='object', length=351)

In [5]:
df['PostalCode_crohnsandcolitis']

0      14642
1      77030
2      63131
3      44195
4      44195
       ...
454    60611
455    60612
456    54401
457    32608
458     7632
Name: PostalCode_crohnsandcolitis, Length: 459, dtype: object

In [6]:
df['PostalCode_crohnsandcolitis'] = df['PostalCode_crohnsandcolitis'].str.zfill(5)

In [7]:
df['PostalCode_crohnsandcolitis']

0      14642
1      77030
2      63131
3      44195
4      44195
       ...
454    60611
455    60612
456    54401
457    32608
458    07632
Name: PostalCode_crohnsandcolitis, Length: 459, dtype: object

In [8]:
df['Provider Business Mailing Address Postal Code_nppes']

0      146420001
1      770302717
2      631312324
3      441950001
4      441312139
         ...
454    602011718
455    917654059
456    544014152
457    191013833
458     76322514
Name: Provider Business Mailing Address Postal Code_nppes, Length: 459, dtype: int64

In [9]:
df['Provider Business Mailing Address Postal Code_nppes'] = df['Provider Business Mailing Address Postal Code_nppes'].astype(str)

In [10]:
df['Provider Business Mailing Address Postal Code_nppes'] = df['Provider Business Mailing Address Postal Code_nppes'].apply(
    lambda x: x.zfill(5) if len(x) == 4 else x if len(x) == 5 else x.zfill(9)[:5]
)

In [11]:
df['Provider Business Mailing Address Postal Code_nppes']

0      14642
1      77030
2      63131
3      44195
4      44131
       ...
454    60201
455    91765
456    54401
457    19101
458    07632
Name: Provider Business Mailing Address Postal Code_nppes, Length: 459, dtype: object

In [12]:
import pandas as pd
from fuzzywuzzy import fuzz

def fuzzy_match(value1, value2):
    """Perform fuzzy matching between two values and return the match score."""
    if pd.isna(value1) or pd.isna(value2):  # Handle missing values
        return None, 0
    score = fuzz.ratio(str(value1), str(value2))  # Compute fuzzy match score
    return (value2, score) if score >= 80 else (None, score)  # Threshold set at 80

# Initialize new columns for matched values
df["matched_mod_postalcode"] = None
df["mod_postalcode_match_score"] = 0

# Perform fuzzy matching on the two postal code columns from the same row
for index, row in df.iterrows():
    best_postalcode, postalcode_score = fuzzy_match(
        row["PostalCode_crohnsandcolitis"], row["Provider Business Mailing Address Postal Code_nppes"]
    )

    df.at[index, "matched_mod_postalcode"] = best_postalcode
    df.at[index, "mod_postalcode_match_score"] = postalcode_score

# Display the updated DataFrame
print(df)

    Name_crohnsandcolitis     Fullname_nppes   NPI_nppes  \
0           Maisa Abdalla      MAISA ABDALLA  1669645222
1        Bincy P. Abraham      BINCY ABRAHAM  1578767166
2       Barry K. Abramson     BARRY ABRAMSON  1922025980
3          Suha Abushamma     SUHA ABUSHAMMA  1134571342
4        Jean-Paul Achkar   JEAN-PAUL ACHKAR  1467417261
..                    ...                ...         ...
454         Eugene F. Yen         EUGENE YEN  1508944018
455         Sooyoung Yeom           SUNG YOO  1437141587
456  Christopher A. Young  CHRISTOPHER YOUNG  1609940725
457      Ellen Zimmermann   ELLEN ZIMMERMANN  1982789590
458      Barry M. Zingler      BARRY ZINGLER  1508808601

     Fuzzy matching percentage_Name City_crohnsandcolitis  \
0                               100             Rochester
1                                95               Houston
2                                95              St Louis
3                               100             Cleveland
4                               100             Cleveland
..                              ...                   ...
454                              95               Chicago
455                              68               Chicago
456                              95                Wausau
457                             100           Gainesville
458                              95      Englewood Cliffs

    State_crohnsandcolitis PostalCode_crohnsandcolitis  matched_postalcode  \
0                       NY                       14642         146420001.0
1                       TX                       77030         770302717.0
2                       MO                       63131         631312324.0
3                       OH                       44195         441950001.0
4                       OH                       44195         441950001.0
..                     ...                         ...                 ...
454                     IL                       60611                 NaN
455                     IL                       60612                 NaN
456                     WI                       54401         544014152.0
457                     FL                       32608                 NaN
458                     NJ                       07632                 NaN

     postalcode_match_score  5dig_postalcode  ...  \
0                        90          14642.0  ...
1                        90          77030.0  ...
2                        90          63131.0  ...
3                        90          44195.0  ...
4                        90          44195.0  ...
..                      ...              ...  ...
454                      57              NaN  ...
455                      36              NaN  ...
456                      90          54401.0  ...
457                      72          32610.0  ...
458                      72          76322.0  ...

     Healthcare Provider Taxonomy Group_9  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
..                                    ...
454                                   NaN
455                                   NaN
456                                   NaN
457                                   NaN
458                                   NaN

    Healthcare Provider Taxonomy Group_10  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
..                                    ...
454                                   NaN
455                                   NaN
456                                   NaN
457                                   NaN
458                                   NaN

     Healthcare Provider Taxonomy Group_11  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
..                                     ...
454                                    NaN
455                                    NaN
456                                    NaN
457                                    NaN
458                                    NaN

    Healthcare Provider Taxonomy Group_12  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
..                                    ...
454                                   NaN
455                                   NaN
456                                   NaN
457                                   NaN
458                                   NaN

     Healthcare Provider Taxonomy Group_13  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
..                                     ...
454                                    NaN
455                                    NaN
456                                    NaN
457                                    NaN
458                                    NaN

    Healthcare Provider Taxonomy Group_14  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
..                                    ...
454                                   NaN
455                                   NaN
456                                   NaN
457                                   NaN
458                                   NaN

    Healthcare Provider Taxonomy Group_15 Certification Date  \
0                                     NaN         11-03-2020
1                                     NaN                NaN
2                                     NaN         10/29/2021
3                                     NaN         08-08-2023
4                                     NaN                NaN
..                                    ...                ...
454                                   NaN         02-01-2024
455                                   NaN         06/26/2024
456                                   NaN                NaN
457                                   NaN                NaN
458                                   NaN                NaN

    matched_mod_postalcode mod_postalcode_match_score
0                    14642                        100
1                    77030                        100
2                    63131                        100
3                    44195                        100
4                     None                         60
..                     ...                        ...
454                   None                         60
455                   None                         20
456                  54401                        100
457                   None                         20
458                  07632                        100

[459 rows x 353 columns]

In [14]:
df['Provider First Name']

0            MAISA
1            BINCY
2            BARRY
3             SUHA
4        JEAN-PAUL
          ...
454         EUGENE
455           SUNG
456    CHRISTOPHER
457          ELLEN
458          BARRY
Name: Provider First Name, Length: 459, dtype: object

In [15]:
df['Provider Middle Name']

0       ISMAIL
1      PAULOSE
2            K
3          NaN
4          NaN
        ...
454         F.
455          J
456          A
457       MARY
458          M
Name: Provider Middle Name, Length: 459, dtype: object

In [16]:
df['Provider Last Name (Legal Name)']

0         ABDALLA
1         ABRAHAM
2        ABRAMSON
3       ABUSHAMMA
4          ACHKAR
          ...
454           YEN
455           YOO
456         YOUNG
457    ZIMMERMANN
458       ZINGLER
Name: Provider Last Name (Legal Name), Length: 459, dtype: object

In [17]:
# import pandas as pd

# # Hardcoded file path (modify as needed)
# file_path = "work.xlsx"

# # Read the Excel file
# df = pd.read_excel(file_path)

# Create the new column 'Fullname_with_middlename'
df["Fullname_with_middlename"] = df["Provider First Name"] + " " + df["Provider Middle Name"].str[0].fillna('') + " " + df["Provider Last Name (Legal Name)"]

# Trim any extra spaces in case middle name is missing
df["Fullname_with_middlename"] = df["Fullname_with_middlename"].str.strip()

In [18]:
df

,Name_crohnsandcolitis,Fullname_nppes,NPI_nppes,Fuzzy matching percentage_Name,City_crohnsandcolitis,State_crohnsandcolitis,PostalCode_crohnsandcolitis,matched_postalcode,postalcode_match_score,5dig_postalcode,...,Healthcare Provider Taxonomy Group_10,Healthcare Provider Taxonomy Group_11,Healthcare Provider Taxonomy Group_12,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15,Certification Date,matched_mod_postalcode,mod_postalcode_match_score,Fullname_with_middlename
0,Maisa Abdalla,MAISA ABDALLA,1669645222,100,Rochester,NY,14642,146420001.0,90,14642.0,...,NaN,NaN,NaN,NaN,NaN,NaN,11-03-2020,14642,100,MAISA I ABDALLA
1,Bincy P. Abraham,BINCY ABRAHAM,1578767166,95,Houston,TX,77030,770302717.0,90,77030.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77030,100,BINCY P ABRAHAM
2,Barry K. Abramson,BARRY ABRAMSON,1922025980,95,St Louis,MO,63131,631312324.0,90,63131.0,...,NaN,NaN,NaN,NaN,NaN,NaN,10/29/2021,63131,100,BARRY K ABRAMSON
3,Suha Abushamma,SUHA ABUSHAMMA,1134571342,100,Cleveland,OH,44195,441950001.0,90,44195.0,...,NaN,NaN,NaN,NaN,NaN,NaN,08-08-2023,44195,100,SUHA ABUSHAMMA
4,Jean-Paul Achkar,JEAN-PAUL ACHKAR,1467417261,100,Cleveland,OH,44195,441950001.0,90,44195.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,60,JEAN-PAUL ACHKAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,Eugene F. Yen,EUGENE YEN,1508944018,95,Chicago,IL,60611,NaN,57,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,02-01-2024,None,60,EUGENE F YEN
455,Sooyoung Yeom,SUNG YOO,1437141587,68,Chicago,IL,60612,NaN,36,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,06/26/2024,None,20,SUNG J YOO
456,Christopher A. Young,CHRISTOPHER YOUNG,1609940725,95,Wausau,WI,54401,544014152.0,90,54401.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54401,100,CHRISTOPHER A YOUNG
457,Ellen Zimmermann,ELLEN ZIMMERMANN,1982789590,100,Gainesville,FL,32608,NaN,72,32610.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,20,ELLEN M ZIMMERMANN
458,Barry M. Zingler,BARRY ZINGLER,1508808601,95,Englewood Cliffs,NJ,07632,NaN,72,76322.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07632,100,BARRY M ZINGLER

In [21]:
df

,Name_crohnsandcolitis,Fullname_nppes,NPI_nppes,Fuzzy matching percentage_Name,City_crohnsandcolitis,State_crohnsandcolitis,PostalCode_crohnsandcolitis,matched_postalcode,postalcode_match_score,5dig_postalcode,...,Healthcare Provider Taxonomy Group_12,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15,Certification Date,matched_mod_postalcode,mod_postalcode_match_score,Fullname_with_middlename,matched_name_with_middlename,name_with_middlename_match_score
0,Maisa Abdalla,MAISA ABDALLA,1669645222,100,Rochester,NY,14642,146420001.0,90,14642.0,...,NaN,NaN,NaN,NaN,11-03-2020,14642,100,MAISA I ABDALLA,None,21
1,Bincy P. Abraham,BINCY ABRAHAM,1578767166,95,Houston,TX,77030,770302717.0,90,77030.0,...,NaN,NaN,NaN,NaN,NaN,77030,100,BINCY P ABRAHAM,None,32
2,Barry K. Abramson,BARRY ABRAMSON,1922025980,95,St Louis,MO,63131,631312324.0,90,63131.0,...,NaN,NaN,NaN,NaN,10/29/2021,63131,100,BARRY K ABRAMSON,None,30
3,Suha Abushamma,SUHA ABUSHAMMA,1134571342,100,Cleveland,OH,44195,441950001.0,90,44195.0,...,NaN,NaN,NaN,NaN,08-08-2023,44195,100,SUHA ABUSHAMMA,None,21
4,Jean-Paul Achkar,JEAN-PAUL ACHKAR,1467417261,100,Cleveland,OH,44195,441950001.0,90,44195.0,...,NaN,NaN,NaN,NaN,NaN,None,60,JEAN-PAUL ACHKAR,None,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,Eugene F. Yen,EUGENE YEN,1508944018,95,Chicago,IL,60611,NaN,57,NaN,...,NaN,NaN,NaN,NaN,02-01-2024,None,60,EUGENE F YEN,None,40
455,Sooyoung Yeom,SUNG YOO,1437141587,68,Chicago,IL,60612,NaN,36,NaN,...,NaN,NaN,NaN,NaN,06/26/2024,None,20,SUNG J YOO,None,26
456,Christopher A. Young,CHRISTOPHER YOUNG,1609940725,95,Wausau,WI,54401,544014152.0,90,54401.0,...,NaN,NaN,NaN,NaN,NaN,54401,100,CHRISTOPHER A YOUNG,None,26
457,Ellen Zimmermann,ELLEN ZIMMERMANN,1982789590,100,Gainesville,FL,32608,NaN,72,32610.0,...,NaN,NaN,NaN,NaN,NaN,None,20,ELLEN M ZIMMERMANN,None,18
458,Barry M. Zingler,BARRY ZINGLER,1508808601,95,Englewood Cliffs,NJ,07632,NaN,72,76322.0,...,NaN,NaN,NaN,NaN,NaN,07632,100,BARRY M ZINGLER,None,32

In [22]:
import pandas as pd
from fuzzywuzzy import process

def fuzzy_match(value, choices, threshold=80):
    """Find the best fuzzy match for a given value from choices."""
    if not choices:  # If no choices available, return None
        return None, 0
    best_match, score = process.extractOne(value, choices)
    return (best_match, score) if score >= threshold else (None, score)

# Initialize new columns for matched values
df["matched_name_with_middlename"] = None
df["name_with_middlename_match_score"] = 0

# Perform fuzzy matching row-wise
for index, row in df.iterrows():
    best_name, name_score = fuzzy_match(
        row["Name_crohnsandcolitis"], [row["Fullname_with_middlename"]]  # Single-element list for row-wise matching
    )

    df.at[index, "matched_name_with_middlename"] = best_name
    df.at[index, "name_with_middlename_match_score"] = name_score

# Display the updated DataFrame
print(df)

    Name_crohnsandcolitis     Fullname_nppes   NPI_nppes  \
0           Maisa Abdalla      MAISA ABDALLA  1669645222
1        Bincy P. Abraham      BINCY ABRAHAM  1578767166
2       Barry K. Abramson     BARRY ABRAMSON  1922025980
3          Suha Abushamma     SUHA ABUSHAMMA  1134571342
4        Jean-Paul Achkar   JEAN-PAUL ACHKAR  1467417261
..                    ...                ...         ...
454         Eugene F. Yen         EUGENE YEN  1508944018
455         Sooyoung Yeom           SUNG YOO  1437141587
456  Christopher A. Young  CHRISTOPHER YOUNG  1609940725
457      Ellen Zimmermann   ELLEN ZIMMERMANN  1982789590
458      Barry M. Zingler      BARRY ZINGLER  1508808601

     Fuzzy matching percentage_Name City_crohnsandcolitis  \
0                               100             Rochester
1                                95               Houston
2                                95              St Louis
3                               100             Cleveland
4                               100             Cleveland
..                              ...                   ...
454                              95               Chicago
455                              68               Chicago
456                              95                Wausau
457                             100           Gainesville
458                              95      Englewood Cliffs

    State_crohnsandcolitis PostalCode_crohnsandcolitis  matched_postalcode  \
0                       NY                       14642         146420001.0
1                       TX                       77030         770302717.0
2                       MO                       63131         631312324.0
3                       OH                       44195         441950001.0
4                       OH                       44195         441950001.0
..                     ...                         ...                 ...
454                     IL                       60611                 NaN
455                     IL                       60612                 NaN
456                     WI                       54401         544014152.0
457                     FL                       32608                 NaN
458                     NJ                       07632                 NaN

     postalcode_match_score  5dig_postalcode  ...  \
0                        90          14642.0  ...
1                        90          77030.0  ...
2                        90          63131.0  ...
3                        90          44195.0  ...
4                        90          44195.0  ...
..                      ...              ...  ...
454                      57              NaN  ...
455                      36              NaN  ...
456                      90          54401.0  ...
457                      72          32610.0  ...
458                      72          76322.0  ...

     Healthcare Provider Taxonomy Group_12  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
..                                     ...
454                                    NaN
455                                    NaN
456                                    NaN
457                                    NaN
458                                    NaN

    Healthcare Provider Taxonomy Group_13  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
..                                    ...
454                                   NaN
455                                   NaN
456                                   NaN
457                                   NaN
458                                   NaN

     Healthcare Provider Taxonomy Group_14  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
..                                     ...
454                                    NaN
455                                    NaN
456                                    NaN
457                                    NaN
458                                    NaN

    Healthcare Provider Taxonomy Group_15  Certification Date  \
0                                     NaN          11-03-2020
1                                     NaN                 NaN
2                                     NaN          10/29/2021
3                                     NaN          08-08-2023
4                                     NaN                 NaN
..                                    ...                 ...
454                                   NaN          02-01-2024
455                                   NaN          06/26/2024
456                                   NaN                 NaN
457                                   NaN                 NaN
458                                   NaN                 NaN

    matched_mod_postalcode mod_postalcode_match_score  \
0                    14642                        100
1                    77030                        100
2                    63131                        100
3                    44195                        100
4                     None                         60
..                     ...                        ...
454                   None                         60
455                   None                         20
456                  54401                        100
457                   None                         20
458                  07632                        100

    Fullname_with_middlename matched_name_with_middlename  \
0            MAISA I ABDALLA              MAISA I ABDALLA
1            BINCY P ABRAHAM              BINCY P ABRAHAM
2           BARRY K ABRAMSON             BARRY K ABRAMSON
3            SUHA  ABUSHAMMA              SUHA  ABUSHAMMA
4          JEAN-PAUL  ACHKAR            JEAN-PAUL  ACHKAR
..                       ...                          ...
454             EUGENE F YEN                 EUGENE F YEN
455               SUNG J YOO                         None
456      CHRISTOPHER A YOUNG          CHRISTOPHER A YOUNG
457       ELLEN M ZIMMERMANN           ELLEN M ZIMMERMANN
458          BARRY M ZINGLER              BARRY M ZINGLER

    name_with_middlename_match_score
0                                 95
1                                 97
2                                 97
3                                 97
4                                 97
..                               ...
454                               96
455                               61
456                               97
457                               95
458                               97

[459 rows x 356 columns]

In [23]:
df

,Name_crohnsandcolitis,Fullname_nppes,NPI_nppes,Fuzzy matching percentage_Name,City_crohnsandcolitis,State_crohnsandcolitis,PostalCode_crohnsandcolitis,matched_postalcode,postalcode_match_score,5dig_postalcode,...,Healthcare Provider Taxonomy Group_12,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15,Certification Date,matched_mod_postalcode,mod_postalcode_match_score,Fullname_with_middlename,matched_name_with_middlename,name_with_middlename_match_score
0,Maisa Abdalla,MAISA ABDALLA,1669645222,100,Rochester,NY,14642,146420001.0,90,14642.0,...,NaN,NaN,NaN,NaN,11-03-2020,14642,100,MAISA I ABDALLA,MAISA I ABDALLA,95
1,Bincy P. Abraham,BINCY ABRAHAM,1578767166,95,Houston,TX,77030,770302717.0,90,77030.0,...,NaN,NaN,NaN,NaN,NaN,77030,100,BINCY P ABRAHAM,BINCY P ABRAHAM,97
2,Barry K. Abramson,BARRY ABRAMSON,1922025980,95,St Louis,MO,63131,631312324.0,90,63131.0,...,NaN,NaN,NaN,NaN,10/29/2021,63131,100,BARRY K ABRAMSON,BARRY K ABRAMSON,97
3,Suha Abushamma,SUHA ABUSHAMMA,1134571342,100,Cleveland,OH,44195,441950001.0,90,44195.0,...,NaN,NaN,NaN,NaN,08-08-2023,44195,100,SUHA ABUSHAMMA,SUHA ABUSHAMMA,97
4,Jean-Paul Achkar,JEAN-PAUL ACHKAR,1467417261,100,Cleveland,OH,44195,441950001.0,90,44195.0,...,NaN,NaN,NaN,NaN,NaN,None,60,JEAN-PAUL ACHKAR,JEAN-PAUL ACHKAR,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,Eugene F. Yen,EUGENE YEN,1508944018,95,Chicago,IL,60611,NaN,57,NaN,...,NaN,NaN,NaN,NaN,02-01-2024,None,60,EUGENE F YEN,EUGENE F YEN,96
455,Sooyoung Yeom,SUNG YOO,1437141587,68,Chicago,IL,60612,NaN,36,NaN,...,NaN,NaN,NaN,NaN,06/26/2024,None,20,SUNG J YOO,None,61
456,Christopher A. Young,CHRISTOPHER YOUNG,1609940725,95,Wausau,WI,54401,544014152.0,90,54401.0,...,NaN,NaN,NaN,NaN,NaN,54401,100,CHRISTOPHER A YOUNG,CHRISTOPHER A YOUNG,97
457,Ellen Zimmermann,ELLEN ZIMMERMANN,1982789590,100,Gainesville,FL,32608,NaN,72,32610.0,...,NaN,NaN,NaN,NaN,NaN,None,20,ELLEN M ZIMMERMANN,ELLEN M ZIMMERMANN,95
458,Barry M. Zingler,BARRY ZINGLER,1508808601,95,Englewood Cliffs,NJ,07632,NaN,72,76322.0,...,NaN,NaN,NaN,NaN,NaN,07632,100,BARRY M ZINGLER,BARRY M ZINGLER,97

In [24]:
df["Best_Of_Two_Fuzzymatches"] = df[["name_with_middlename_match_score", "Fuzzy matching percentage_Name"]].max(axis=1)

In [25]:
df

,Name_crohnsandcolitis,Fullname_nppes,NPI_nppes,Fuzzy matching percentage_Name,City_crohnsandcolitis,State_crohnsandcolitis,PostalCode_crohnsandcolitis,matched_postalcode,postalcode_match_score,5dig_postalcode,...,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15,Certification Date,matched_mod_postalcode,mod_postalcode_match_score,Fullname_with_middlename,matched_name_with_middlename,name_with_middlename_match_score,Best_Of_Two_Fuzzymatches
0,Maisa Abdalla,MAISA ABDALLA,1669645222,100,Rochester,NY,14642,146420001.0,90,14642.0,...,NaN,NaN,NaN,11-03-2020,14642,100,MAISA I ABDALLA,MAISA I ABDALLA,95,100
1,Bincy P. Abraham,BINCY ABRAHAM,1578767166,95,Houston,TX,77030,770302717.0,90,77030.0,...,NaN,NaN,NaN,NaN,77030,100,BINCY P ABRAHAM,BINCY P ABRAHAM,97,97
2,Barry K. Abramson,BARRY ABRAMSON,1922025980,95,St Louis,MO,63131,631312324.0,90,63131.0,...,NaN,NaN,NaN,10/29/2021,63131,100,BARRY K ABRAMSON,BARRY K ABRAMSON,97,97
3,Suha Abushamma,SUHA ABUSHAMMA,1134571342,100,Cleveland,OH,44195,441950001.0,90,44195.0,...,NaN,NaN,NaN,08-08-2023,44195,100,SUHA ABUSHAMMA,SUHA ABUSHAMMA,97,100
4,Jean-Paul Achkar,JEAN-PAUL ACHKAR,1467417261,100,Cleveland,OH,44195,441950001.0,90,44195.0,...,NaN,NaN,NaN,NaN,None,60,JEAN-PAUL ACHKAR,JEAN-PAUL ACHKAR,97,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,Eugene F. Yen,EUGENE YEN,1508944018,95,Chicago,IL,60611,NaN,57,NaN,...,NaN,NaN,NaN,02-01-2024,None,60,EUGENE F YEN,EUGENE F YEN,96,96
455,Sooyoung Yeom,SUNG YOO,1437141587,68,Chicago,IL,60612,NaN,36,NaN,...,NaN,NaN,NaN,06/26/2024,None,20,SUNG J YOO,None,61,68
456,Christopher A. Young,CHRISTOPHER YOUNG,1609940725,95,Wausau,WI,54401,544014152.0,90,54401.0,...,NaN,NaN,NaN,NaN,54401,100,CHRISTOPHER A YOUNG,CHRISTOPHER A YOUNG,97,97
457,Ellen Zimmermann,ELLEN ZIMMERMANN,1982789590,100,Gainesville,FL,32608,NaN,72,32610.0,...,NaN,NaN,NaN,NaN,None,20,ELLEN M ZIMMERMANN,ELLEN M ZIMMERMANN,95,100
458,Barry M. Zingler,BARRY ZINGLER,1508808601,95,Englewood Cliffs,NJ,07632,NaN,72,76322.0,...,NaN,NaN,NaN,NaN,07632,100,BARRY M ZINGLER,BARRY M ZINGLER,97,97

In [26]:
df.to_csv("output_file_crons_nppes.csv")